.body {
  height: 473px;
  position: relative;
  width: 1120px;
}

.body .text-wrapper-4 {
  color: var(--main-black);
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 0;
  letter-spacing: -0.54px;
  line-height: 21.9px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 326px;
}

.body .overlap-group {
  height: 169px;
  left: 0;
  position: absolute;
  top: 43px;
  width: 356px;
}

.body .p {
  color: var(--main-black);
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 0;
  letter-spacing: -0.54px;
  line-height: 21.9px;
  position: absolute;
  top: 0;
  width: 356px;
}

.body .text-wrapper-5 {
  color: var(--main-gray);
  font-family: var(--sub-text-font-family);
  font-size: var(--sub-text-font-size);
  font-style: var(--sub-text-font-style);
  font-weight: var(--sub-text-font-weight);
  left: 0;
  letter-spacing: var(--sub-text-letter-spacing);
  line-height: var(--sub-text-line-height);
  position: absolute;
  top: 101px;
  width: 315px;
}

.body .link {
  color: var(--main-black);
  font-family: var(--sub-header-link-font-family);
  font-size: var(--sub-header-link-font-size);
  font-style: var(--sub-header-link-font-style);
  font-weight: var(--sub-header-link-font-weight);
  left: 0;
  letter-spacing: var(--sub-header-link-letter-spacing);
  line-height: var(--sub-header-link-line-height);
  position: absolute;
  text-decoration: underline;
  top: 346px;
  white-space: nowrap;
  width: 326px;
}

.body .thumbnail {
  height: 365px;
  left: 480px;
  position: absolute;
  top: 0;
  width: 640px;
}

.body .seperator {
  height: 2px;
  left: 8px;
  position: absolute;
  top: 472px;
  width: 1115px;
}
