.navigation-bar {
  height: 35px;
  position: relative;
  width: 1120px;
}

.navigation-bar .site-logo {
  height: 23px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 67px;
}

.navigation-bar .menu {
  height: 20px;
  left: 735px;
  position: absolute;
  top: 13px;
  width: 385px;
}

.navigation-bar .about-instance {
  left: 81px !important;
  position: absolute !important;
  top: 0 !important;
}

.navigation-bar .contact-instance {
  left: 308px !important;
  position: absolute !important;
  top: 0 !important;
  width: 77px !important;
}

.navigation-bar .work-instance {
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
}

.navigation-bar .playground-instance {
  left: 172px !important;
  position: absolute !important;
  top: 0 !important;
  width: 104px !important;
}
